@charset "utf-8";

$black: black;
$black-bis: #002b36;
$black-ter: #073642;
$grey-darker: #586e75;
$grey-dark: #657b83;

$grey-light: #839496;
$grey-lighter: #93a1a1;
$grey-lightest: #eee8d5;
$white-ter: #fdf6e3;
$white-bis: #fdf6f3;
$white: white;

$orange: #cb4b16;
$yellow: #b58900;
$green: #859900;
// turq
$cyan: #2aa198;
$blue: #268bd2;
$purple: #6c71c4;
$red: #dc322f;
//$magenta: #d33682;

$invert-all: black;

$scheme-main: $black-bis;

$primary: $green;
$primary-invert: $invert-all;
$info: $cyan;
$info-invert: $invert-all;
$success: $green;
$success-invert: $invert-all;
$warning: $yellow;
$warning-invert: $invert-all;
$danger: $red;
$danger-invert: $invert-all;
$link: $green;
$link-invert: $invert-all;

$text: $green;
$text-strong: $green;

$family-primary: 'Fira Mono', monospace;

$link-light: lighten($green, 10%);

//$table-color: black;
$table-background-color: transparent;

@import "../lib/bulma/bulma";
