@color-main: #00CC00;
@color-main-sub: #009900;
@color-main-hi: #33CC33;
@color-contrast: #CD0074;
@color-background: #001212;
@color-background-hi: #002020;

body {
	padding: 40px 40px 0;
	text-align: center;
	font-family: monaco, monospace;
	background-color: @color-background;
	color: @color-main;
}

h1, h2 {
	display: inline-block;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
	text-align: center;
}

.link-default() {
	color: black;
	background-color: @color-main-sub;
	text-decoration: none;
	font-weight: bold;
}

.link-hover() {
	background-color: @color-main-hi;
	box-shadow: 3px 3px 1px 1px grey;
	color: @color-contrast;
}

nav {
	display: flex;
	flex-wrap: wrap;
	background-color: @color-main-sub;

	.navl, .navl:link, .navl:visited, .navl:active {
		display: flex;
		padding: 14px 16px;
		color: black;
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;
	}

	.navl:hover {
		.link-hover();
	}

	.navuser {
		.navl();
		margin-left: auto;
	}
}

#content {
	text-align: left;
}

.dllink {
	padding: 8px;
	margin: 5px;
	display: inline-block;
	border-radius: 100px;
	.link-default();

	&:hover {
		.link-hover();
	}
}

.dltable {
	width: 100%;
	border-style: none;
	border-color: @color-main;
	border-collapse: collapse;

	tr > th {
		border-width: 3px;
		border-style: none none double none;
	}

	tr:not(:first-child):hover {
		background-color: @color-background-hi;
	}
}

.navdrop {
	.unselectable();
	position: relative;
	display: inline-block;
}

.navdrop-list {
	display: none;
	position: absolute;
	background-color: @color-main-sub;
	z-index: 1;
	top: 47px; // ??
	white-space: nowrap;
}

.navdrop:hover .navdrop-list {
	display: block;
}

.msg-error {
	font-weight: bold;
	color: red;
	padding: 10px;
}

.unselectable() {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
