body {
  padding: 40px 40px 0;
  text-align: center;
  font-family: monaco, monospace;
  background-color: #001212;
  color: #00CC00;
}
h1,
h2 {
  display: inline-block;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
  text-align: center;
}
nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #009900;
}
nav .navl,
nav .navl:link,
nav .navl:visited,
nav .navl:active {
  display: flex;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
nav .navl:hover {
  background-color: #33CC33;
  box-shadow: 0 0 10px 0 greenyellow;
  color: #CD0074;
}
nav .navuser {
  display: flex;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}
#content {
  text-align: left;
}
.dllink {
  padding: 8px;
  margin: 5px;
  display: inline-block;
  border-radius: 100px;
  color: black;
  background-color: #009900;
  text-decoration: none;
  font-weight: bold;
}
.dllink:hover {
  background-color: #33CC33;
  box-shadow: 0 0 10px 0 greenyellow;
  color: #CD0074;
}
.dltable {
  width: 100%;
  border-style: none;
  border-color: #00CC00;
  border-collapse: collapse;
}
.dltable tr > th {
  border-width: 3px;
  border-style: none none double none;
}
.dltable tr:not(:first-child):hover {
  background-color: #002020;
}
.navdrop {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  position: relative;
  display: inline-block;
}
.navdrop-list {
  display: none;
  position: absolute;
  background-color: #009900;
  z-index: 1;
  white-space: nowrap;
}
.navdrop:hover .navdrop-list {
  display: block;
}
.msg-error {
  font-weight: bold;
  color: red;
  padding: 10px;
}
.readblock {
  display: flex;
  justify-content: center;
}
.readblock > div {
  max-width: 800px;
}